<!DOCTYPE html>
<head>
    <link href="./../static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body><div class="background">
<center><h1>For Further Information Contact-US </h1></center>
    <pre><center>
        <h1>Manager SRIRAM</h1>
        <H2>MOBILE NO:9489582313</H2>
        <h1>Agent NAGHUL</h1>
        <H2>MOBILE NO:9080528244</H2>
        <h1>Agent MOHAN</h1>
        <H2>MOBILE NO:9360738976</H2></center>
    </pre>
    <br>
    <br>
    <br>
   <b><marquee behaviour="scroll"width="60%"height='40px'direction="left" scrollamount="3">*** THANK YOU FOR VISITING ***</marquee></b>
</div></body></html>