<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="./../static/style.css" rel="stylesheet" type="text/css"/>
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 5px;
}
</style>
</head>
<body style="background-color:#fefea4;">
    <form method="POST" action="">

<!-- Navbar (sit on top) -->
<div class="p1">
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <h3><input  class="w3-bar-item w3-button" type='submit' name='TOP10' value='TOP10' />
    <div class="w3-right w3-hide-small">
      <input class="w3-bar-item w3-button" type='submit' name='TRENDING' value='TRENDING' />
      <input class="w3-bar-item w3-button" type='submit' name='PREDICT' value='PREDICT'>
      <input class = "w3-bar-item w3-button" type='submit' name='LOGOUT' value='LOGOUT' /></h3>
      <input class = "w3-bar-item w3-button" type='submit' name='VIEW' value='VIEW' /></h3>
    </div>
  </div>
  </div>
</div>
</form>
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="static\instagram-users-post-banner.webp" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">INSTAGRAM</h1>
  </div>
</header>
<p>
<form method="post">
  <label for="firstname">Search:</label>
  <input type="text" id="firstname" name="firstname" placeholder="search">
  <input type="submit" value="predict"></form>
  </p>
</body>
</html>